div{
    border: 1px solid black;
}

#ff1{
    font-family: 궁서;
}
#ff2{
    font-family: 굴림;
}
.ff3{
    font-family: Ubuntu;
}

#fstyle{
    /* font-style: italic; */
    font-style: oblique;
}

.fw100{ font-weight: 100;}
.fw300{ font-weight: 300;}
.fw500{ font-weight: 500;}

.w200{ width: 200px;}
.w500{ width: 500px;}
.w700{ width: 700px;}

#c-name{
    color: aqua;
}

#c-hex{
    color: #000;
}

#c-rgb{
    color: rgb(255,0,0)
}
#c-rgba{
    color: rgba(0,0,255,0.5);

    text-decoration: underline;
}

.superstyle{
    text-decoration: none;
    color: #666;
    size: 1.5em;
}

.shadow{
    text-shadow: 0px 0px 20px black;
}