/*테이블 border 스타일*/
td{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-spacing: 0px;
}
table{
    border-spacing: 0px;
}
/*표 제목 중앙 정렬*/
thead > tr > td{
    text-align: center;
    border-top: 1px solid black;

    font-weight: bold;
}
thead > tr > td:nth-child(1){
    border-left: 1px solid black;
}

/*
 * Table 밑에 th태그가 있는 경우 예외처리
 */
tbody > tr > th{
    border-top: 1px solid black;
}
tbody > tr > th:nth-child(1){
    border-left: 1px solid black;
}


tbody > tr > td{
    width: 20%;
}
tbody > tr:nth-child(2n+1) > td:nth-child(1){
    border-left: 1px solid black;
}